<h1 id="title"><%= @route.verb + " " + @route.path %></h1>
<p><pre class="route-url"><%= File.join(request.protocol, request.host_with_port, @route.path) %></pre></p>
<%= @route.description %>
<div class="markdown"><%= @route.content %></div>
