<h1 id="title"><%= @route.verb + " " + @route.path %></h1>
<p><pre><%= File.join(request.protocol, request.host, @route.path) %></pre></p>
<%= @route.description %>
<div class="markdown"><%= @route.content %></div>
<script>
$(document).ready(function() {
  var converter = new Showdown.converter({extensions: ["github"] });
  $(".markdown").each(function() {
    $(this).html(converter.makeHtml($(this).text()));
  });
});
</script>