*.gem
*.rbc
*.log
.\#*
\#*\#
.bundle
.config
.yardoc
.redcar
Gemfile.lock
InstalledFiles
_yardoc
coverage
lib/bundler/man
pkg
rdoc
spec/dummy/log/test.log
spec/dummy/log/development.log
spec/reports
test/tmp
test/version_tmp
tmp
