<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <title>Routes</title>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.9.2/jquery-ui.js"></script>
  <script src="https://raw.github.com/rails/jquery-ujs/master/src/rails.js"></script>

  <script src="https://raw.github.com/coreyti/showdown/v0.3.1/src/showdown.js"></script>
  <script src="https://raw.github.com/coreyti/showdown/v0.3.1/src/extensions/github.js"></script>
  <script src="https://raw.github.com/coreyti/showdown/v0.3.1/src/extensions/table.js"></script>

  <script src="https://raw.github.com/ccampbell/rainbow/1.1.8/js/rainbow.js"></script>
  <script src="https://raw.github.com/ccampbell/rainbow/1.1.8/js/language/generic.js"></script>
  <script src="https://raw.github.com/ccampbell/rainbow/1.1.8/js/language/javascript.js"></script>

  <script>
  $(document).ready(function() {
    var converter = new Showdown.converter({extensions: ["github"] });
    $(".markdown").each(function() {
      console.log(this)
      $(this).html(converter.makeHtml($(this).text()));
    });
  });
  </script>

  <style>
    body{background-color:#fff;color:#333;margin:0;}
    body,p,ol,ul,td{font-family:helvetica, verdana, arial, sans-serif;font-size:13px;line-height:18px;}
    ul.droptrue{list-style-type:none;float:left;}
    ul.droptrue.container{min-height:250px;min-width:350px;background:#FFF;border:1px solid gray;}

    #container{width:960px;padding-top:50px;margin:0 auto;}
    #header-outer{position:fixed;width:100%;top:0;height:40px;z-index:999;-moz-box-shadow:0 1px 3px rgba(0,0,0,0.25),0 -1px 0 rgba(0,0,0,0.1) inset;-webkit-box-shadow:0 1px 3px rgba(0,0,0,0.25),0 -1px 0 rgba(0,0,0,0.1) inset;box-shadow:0 1px 3px rgba(0,0,0,0.25),0 -1px 0 rgba(0,0,0,0.1) inset;background:#00A0D1 repeat-x 0 0;}
    #header{width:960px;margin:0 auto;}
    #logo{float:left;padding-left:32px;display:block;height:40px;color:#FFF;font-size:150%;font-weight:200;line-height:38px;}
    .label{display:inline-block;font-size:11.844px;font-weight:700;line-height:14px;color:#fff;text-shadow:0 -1px 0 rgba(0,0,0,0.25);white-space:nowrap;vertical-align:baseline;background-color:#999;-webkit-border-radius:3px;-moz-border-radius:3px;border-radius:3px;padding:2px 4px;}
    .route-url{background:#EAF2F5;display:inline-block;margin-right:8px;font-size:12px;line-height:24px;border-radius:3px;padding:0 5px;}

    h1{font-size:28px;font-weight:300;line-height:1.1;margin-bottom:.75em;}
    table{width:100%;margin:0 0 3em;}
    tr:hover td,tr:hover td.active{background:#F8F8F8;}
    td{vertical-align:top;background:#FFF;padding:8px 0;}
    th{text-align:left;border-bottom:1px solid #EEE;}
    td.resource{width:60%;}
    pre{background-color:#eee;font-size:11px;white-space:pre-wrap;padding:10px;}
    a{text-decoration:none;color:#0080A6;}
    a:visited{color:#0080A6;}
    a:hover{text-decoration:underline;color:#0080A6;}
    a.logo{color:#FFF;text-decoration:none;}
    li a:hover{background:#0089B3;color:#FFF;text-decoration:none;}

    #title-nav{margin-bottom:0;margin-top:0;}
    #title-nav li{position:relative;float:left;display:block;line-height:40px;margin-left:20px;padding:0;}
    #title-nav a{display:block;-webkit-font-smoothing:subpixel-antialiased;text-shadow:0 -1px 0 rgba(0,0,0,0.3);outline:none;color:#BFE4EF;padding:0 10px;}

    .right{float:right;}
    .markdown{padding-top:10px;padding-bottom:10px;font-family:Helvetica,arial,freesans,clean,sans-serif;font-size:13px;line-height:1.6;}
    .markdown>:first-child{margin-top:0!important;}
    .markdown>:last-child{margin-bottom:0!important;}
    .markdown a{color:#4183C4;text-decoration:none;}
    .markdown a:hover{text-decoration:underline;}
    .markdown h1,.markdown h2,.markdown h3,.markdown h4,.markdown h5,.markdown h6{font-weight:700;-webkit-font-smoothing:antialiased;margin:20px 0 10px;padding:0;}
    .markdown h1 tt,.markdown h1 code,.markdown h2 tt,.markdown h2 code,.markdown h3 tt,.markdown h3 code,.markdown h4 tt,.markdown h4 code,.markdown h5 tt,.markdown h5 code,.markdown h6 tt,.markdown h6 code{font-size:inherit;}
    .markdown h1{font-size:28px;color:#000;}
    .markdown h2{font-size:24px;border-bottom:1px solid #ccc;color:#000;}
    .markdown h3{font-size:18px;}
    .markdown h4{font-size:16px;}
    .markdown h5{font-size:14px;}
    .markdown h6{color:#777;font-size:14px;}
    .markdown p,.markdown blockquote,.markdown ul,.markdown ol,.markdown dl,.markdown li,.markdown table,.markdown pre{margin:15px 0;}
    .markdown hr{border:0 none;color:#ccc;height:4px;padding:0;}
    .markdown>h2:first-child,.markdown>h1:first-child,.markdown>h1:first-child+h2,.markdown>h3:first-child,.markdown>h4:first-child,.markdown>h5:first-child,.markdown>h6:first-child{margin-top:0;padding-top:0;}
    .markdown li p.first{display:inline-block;}
    .markdown ul,.markdown ol{padding-left:30px;}
    .markdown dl dt{font-size:14px;font-weight:700;font-style:italic;margin:15px 0 5px;padding:0;}
    .markdown dl dd{margin:0 0 15px;padding:0 15px;}
    .markdown blockquote{border-left:4px solid #DDD;color:#777;padding:0 15px;}
    .markdown table{border-collapse:collapse;border-spacing:0;font-size:100%;font:inherit;padding:0;}
    .markdown table tr{border-top:1px solid #ccc;background-color:#fff;margin:0;padding:0;}
    .markdown table tr:nth-child(2n){background-color:#f8f8f8;}
    .markdown table tr th{font-weight:700;}
    .markdown table tr th,.markdown table tr td{border:1px solid #ccc;text-align:left;margin:0;padding:6px 13px;}
    .markdown img{max-width:100%;}
    .markdown span.frame{display:block;overflow:hidden;}
    .markdown span.frame>span{border:1px solid #ddd;display:block;float:left;overflow:hidden;width:auto;margin:13px 0 0;padding:7px;}
    .markdown span.frame span img{display:block;float:left;}
    .markdown span.frame span span{clear:both;color:#333;display:block;padding:5px 0 0;}
    .markdown span.align-center>span{display:block;overflow:hidden;text-align:center;margin:13px auto 0;}
    .markdown span.align-center span img{text-align:center;margin:0 auto;}
    .markdown span.align-right>span{display:block;overflow:hidden;text-align:right;margin:13px 0 0;}
    .markdown span.align-right span img{text-align:right;margin:0;}
    .markdown span.float-left{display:block;margin-right:13px;overflow:hidden;float:left;}
    .markdown span.float-left span{margin:13px 0 0;}
    .markdown span.float-right{display:block;margin-left:13px;overflow:hidden;float:right;}
    .markdown span.float-right>span{display:block;overflow:hidden;text-align:right;margin:13px auto 0;}
    .markdown code,.markdown tt{white-space:nowrap;border:1px solid #eaeaea;background-color:#f8f8f8;border-radius:3px;margin:0 2px;padding:0 5px;}
    .markdown pre>code{white-space:pre;border:none;background:transparent;margin:0;padding:0;}
    .markdown .highlight pre,.markdown pre{background-color:#f8f8f8;border:1px solid #ccc;font-size:13px;line-height:19px;overflow:auto;border-radius:3px;padding:6px 10px;}
    .markdown pre code,.markdown pre tt{background-color:transparent;border:none;}
    .markdown h1+p,.markdown h2+p,.markdown h3+p,.markdown h4+p,.markdown h5+p,.markdown h6+p,.markdown ul li>:first-child,.markdown ol li>:first-child,.markdown dl dt>:first-child,.markdown dl dd>:first-child,.markdown blockquote>:first-child,.markdown table tr th>:first-child,.markdown table tr td>:first-child{margin-top:0;}
    .markdown ul li>:last-child,.markdown ol li>:last-child,.markdown dl dt>:last-child,.markdown dl dd>:last-child,.markdown blockquote>:last-child,.markdown table tr th>:last-child,.markdown table tr td>:last-child{margin-bottom:0;}
    .markdown dl,.markdown dl dt:first-child{padding:0;}
    .markdown span.align-center,.markdown span.align-right{display:block;overflow:hidden;clear:both;}

    .rainbow{word-wrap:break-word;background:transparent;}
    .rainbow .comment{color:#999;}
    .rainbow .constant{color:#f26521;}
    .rainbow .string,.rainbow .comment.docstring{color:#854a6f;}
    .rainbow .entity{color:#4da943;}
    .rainbow .support,.rainbow .function.call{color:#b6a500;}
    .rainbow .variable{color:#1e4c66;}
  </style>
</head>
<body>
  <div id="header-outer">
    <div id="header">
      <div id="logo"><%= link_to "Docushin", root_path, :class => "logo" %></div>
      <ul id="title-nav">
	<li class="leaf"><%= link_to "Routes", routes_path %></li>
        <li class="leaf last"><%= link_to "Collections", collections_path %></li>
      </ul>
    </div>
  </div>
  <div id="container">
    <%= yield %>
  </div>
</body>
</html>
